run = "node gateway.js & cd apps/api && npm run dev & cd ../mobile && npx expo start --host tunnel"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "node gateway.js & cd apps/api && npm start & cd ../mobile && npx expo start --host tunnel"]

[[ports]]
localPort = 5000
externalPort = 80
